<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Irrigation Dashboard</title>
</head>
<body>
    <a href="/scheduler">IRRIGATION SCHEDULER</a>
    <h1> EValve status : 
        {% if EValve_status %}
            ON
        {% else %}
            OFF
        {% endif %}
    </h1>
    <h1><a href="/Manual"><input type="button" value="MANUAL ON/off"></a></h1>
    <p>
        JOBS:<br>
        {% for job in jobs %}
            <p>{{loop.index}} Next run time:{{job.next_run_time}} </p><br>
        {% endfor %}
    </p>

</body>
</html>
